@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  font-size: 62.5%;
}
.react-toggle--checked .react-toggle-track {
  background-color: #4d4d4d !important;
}
.react-toggle-track {
  background-color: whitesmoke !important;
}
